@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
	--font-sans: var(--font-dm-serif), ui-serif, serif;
	--font-serif: var(--font-dm-serif), ui-serif, serif;
	--font-mono: var(--font-jetbrains-mono), ui-monospace, monospace;
	--font-jetbrains-mono: var(--font-jetbrains-mono), ui-monospace, monospace;
}

@layer components {
	.nav {
		@apply hover:bg-neutral-900 px-2 rounded-lg duration-150 cursor-pointer
	}

	.active {
		@apply text-white bg-neutral-900 px-2 rounded-lg
	}
	.dud{
		@apply text-slate-300
	}
}
