@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
	--font-jetbrains-mono : "JetBrains Mono", monospace;
}

@layer components {
	.nav {
		@apply hover:bg-neutral-900 px-2 rounded-lg duration-150 cursor-pointer
	}

	.active {
		@apply text-white bg-neutral-900 px-2 rounded-lg
	}
}
